body, html {
  height: 100%;
  margin: 0;
}

.container {
  text-align: center;
  height: 100%;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-rows: 1fr 1fr 5fr 1fr;
  gap: 15px;
}

.container div {
  padding: 15px;
  font-size: 32px;
  font-family: Helvetica;
  font-weight: bold;
  color: white;
  border-radius: 15px;
  overflow:auto;
}

.container .header {
  background-color: #FFDE22;
  grid-column: 1 / 3;
  border-radius: 0 0 15px 15px;
}

.container .sidebar {
  background-color: #FF7755;
  grid-row: 2 / 4;
  border-radius: 0 15px 15px 0;
}

.container .nav {
  background-color: #00DDFF;
  border-radius: 15px 0 0 15px;
}

.container .article {
  background-color: #bccbde;
  border-radius: 15px 0 0 15px;
  overflow: hidden;
}

.article p {
  font-size: 18px;
  font-family: sans-serif;
  color: white;
  text-align: left;
}

.container .footer {
  background-color: #393f4d;
  grid-column: 1 / 3;
  border-radius: 15px 15px 0 0;
}
